*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;

background:
linear-gradient(
135deg,
#180020,
#70004f
);

color:white;

font-family:Arial,sans-serif;

}



#intro,
#surprise{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



.welcome h1{

font-size:60px;

}



.welcome p{

font-size:25px;

margin:30px;

}



#startBtn{

padding:18px 45px;

border:none;

border-radius:50px;

background:#ff0080;

color:white;

font-size:22px;

cursor:pointer;

box-shadow:
0 0 30px #ff0080;

}



.hidden{

display:none !important;

}